/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/media/livewire-tmp/*
/public/media/ticket_images/*
/public/media/users/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
.idea
package-lock.json
composer.lock
docker-compose.yml
docker-compose