.bg-gray-200 {
    background-color: #e5e7eb !important;
}

.min-h-24 {
    min-height: 12rem;
}

.upload-image-preview {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 7rem;
    height: 7rem;
}
