

.btn{
    font-weight: 600;
    &.btn-rounded{
        border-radius: 20px;
        border: 1px solid #E1E3E6;
    }
    &.btn-gradient-orange{
        background: linear-gradient(180deg, #FCA549 0%, #F39531 100%);  
        color:#fff;
    }
    &.btn-white{
        background: #fff;
    }
    &.btn-sm{
        height: 32px;
    }
    &.btn-36{
        height: 36px!important;
    }
    &.btn-circle{
        border-radius: 50%;
        width: 32px;height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.btn-border{
        border: 1px solid #F1F2F3
    }
    &.btn-shadow{
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
    }
    &.btn-block{
        width: 100%;
    }
    &.btn-dropdown{
        font-weight: 400;
        text-align: left;
        border: 1px solid #ced4da;
        padding:12px 16px;
        font-size: 14px;
        &:after{
            content:"";
            width: 24px;height:24px;
            display: block;
            background: url(../images/ic-chevron-down.svg) no-repeat center center / 24px;
            transform: rotate(-90deg);
            float:right;
            transition: transform .2 linear;
        }
        &.show{
            &:after{
                transform: rotate(0deg);
                transition: transform .2 linear;
            }
            border-color: $green;
            box-shadow: 0 0 4px 4px #47BC4A33;
        }
    }
    &.btn-success{
        background: $green;
    }
    &.btn-gray{
        background: #F1F2F3;
        color:$green;
    }

    &.btn-xs{
        height: 20px;
        font-size: 12px;
        padding: 3px .35rem;
        font-weight: normal;
        line-height:14px;
    }
}
.btn-icon{
    width: 24px;height:24px;
    display: inline-flex;
    display: block;
    &.btn-icon-dl{
        background: url(../images/ic-download.svg) no-repeat center center / 20px;
    }  
    
    &.btn-icon-sort{
        background: url(../images/ic-sort.svg) no-repeat center center / 20px;
    }  
}
