@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color:#0A1214;
    font-size: 16px;
}

.text-12{
    font-size: 12px;
}
.text-14{
    font-size: 14px;
}
.text-600{
    font-weight: 600;
}
.text-bold{
    font-weight: bold;
}
.text-16{
    font-size: 16px;
}
.text-sbold{
    font-weight: 600;
}

.text-bold{
    font-weight: bold;
}

.text-green{
    color:#1E903E;
}

.text-center{
    text-align: center;
}
.text-dark{
    color:#0A1214;
}
.text-normal{
    font-weight: 400;
}
.text-gray{
    color: #8a8f97;
}